# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/

# Build
dist/
build/

# Environment
.env
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python
*.egg-info/
poetry.lock

# Logs
*.log
android/
.vite/
